<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/f8b439a839.js" crossorigin="anonymous"></script>

    <title><%= title %></title>

    <style>
      a {
        color: rgba(0,0,0,0.5);
      }
    </style>

  </head>

  <body>    
    <div class="container"> 
      <div class="row">
        <div class="col-md-12" style="margin-top: 2%">
          <h3 style="text-align: center">Usuários cadastrados - <span class="total"></span></h3>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12" style="margin-top: 2%">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Nome:</th>
                <th>Nascimento:</th>
                <th>Telefone:</th>
                <th>RG:</th>
                <th>CPF:</th>
                <th>Endereço:</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% data.forEach(function(user) { %>
              <tr>
                <td><a href="javascript:void(0)" class="btn btn-sm btn-dark btn-profile" data-name="<%= user.name %>" data-cpf="<%= user.cpf %>" data-rg="<%= user.rg %>" data-phone="<%= user.phone %>" data-address="<%= user.address %>" data-age="<%= user.age %>" data-street="<%= user.street %>" data-city="<%= user.city %>" data-state="<%= user.state %>" data-cep="<%= user.cep %>" data-bairro="<%= user.bairro %>" data-district="<%= user.district %>"><%= user.name %></a></td>
                <td><%= user.age %></td>
                <td><%= user.phone %></td>
                <td><%= user.rg %></td>
                <td><%= user.cpf %></td>
                <td><%= user.address %></td>
                <th><a href="/users/edit/<%= user._id %>"><i class="far fa-edit" style="color: darkcyan"></i></a></th>
                <th><a href="javascript:void(0)" class="btnDelete" data-id="<%= user._id %>" data-name="<%= user.name %>"><i class="far fa-trash-alt"></i></a></th>
              </tr>
              <% }) %>
              <tr>
            </tbody>
          </table>          
        </div>
      </div>

      <div class="row">
        <div class="col-md-12" style="text-align: center;">
          <a href="/users/create" class="btn btn-sm btn-primary">Cadastrar <i class="fas fa-plus"></i></a>
        </div>
      </div>
    </div>
    
    <!-- Modal Delete-->
    <div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                 <h5 class="modal-title" id="exampleModalLabel">Ops! Tem certeza?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Você realmente deseja excluir o usuário: <strong><span class="nameUser"></span></strong>?
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-dark" data-dismiss="modal">Cancelar</button>
                  <button type="button" class="btn btn-danger btnConfirmDeletion">Excluir</button>
              </div>
          </div>
      </div>
    </div>

    <!-- Modal Profile-->
    <div class="modal fade modal-profile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                 <h3 class="modal-title" id="exampleModalLabel">Dados do usuário</h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h5 class="name-profile"></h5>
                <strong>CPF: </strong> <span class="cpf"></span><br>
                <strong>RG: </strong> <span class="rg"></span><br>
                <strong>Telefone: </strong> <span class="phone"></span><br>
                <strong>Nascimento: </strong> <span class="age"></span>
                <hr>
                <h5>Endereço</h5>
                <strong>CEP: </strong> <span class="cep"></span><br>
                <strong>Cidade: </strong> <span class="city"></span><br>
                <strong>Estado: </strong> <span class="state"></span><br>
                <strong>Bairro: </strong> <span class="district"></span><br>
                <strong>Rua: </strong> <span class="street"></span>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-dark" data-dismiss="modal">Fechar</button>
              </div>
          </div>
      </div>
    </div>

    <!-- Script Delete -->
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script> 
    <script>
      //Get total users from DB
      function getTotalUsers() {
        $.ajax({
          method: 'GET',
          url: '/users/total'
        }).done(function(data) {
          $(".total").text(data)
        });
      }

      $(document).ready(function() {
        getTotalUsers();
        let id = null;
        let btn = null;
        $(document).on('click', '.btnDelete', function() {
          id = $(this).data('id');
          btn = $(this);
          $(".nameUser").text($(this).data('name'));
          $("#modalDelete").modal('toggle');
        });

        $(document).on('click', '.btnConfirmDeletion', function() {
          $.ajax({
            method: 'GET',
            url: '/users/delete/'+id
          }).done(function(data) {
            console.log(data)
            if(data == 'success') {
                if(btn != null) {
                  btn.closest('tr').remove();
                  $("#modalDelete").modal('toggle');
                  getTotalUsers();
                }
            } else {
              alert('Falha ao excluir usuário, ele já pode ter sido excluído!');
            }
          });
        });
      });
    </script>
   
    <script>
      $(document).ready(function() {
        $(document).on('click', '.btn-profile', function() {
          $(".modal-profile").modal('toggle')
          $(".name-profile").text($(this).data('name'))
          $(".cpf").text($(this).data('cpf'))
          $(".rg").text($(this).data('rg'))
          $(".age").text($(this).data('age'))
          $(".phone").text($(this).data('phone'))

          $(".cep").text($(this).data('cep'))
          $(".district").text($(this).data('district'))
          $(".street").text($(this).data('street'))
          $(".city").text($(this).data('city'))
          $(".state").text($(this).data('state'))
        });
      });
    </script>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
